* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'Vazer';
    src: url('../fonts/vazir-Black.eot');
    src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
}

body {
    font-family: 'Vazer';
    direction: rtl;
    margin: 0px auto;
    display: flex;
}

body .main {
    width: 100%;
    max-width: 1800px;
    min-height: 100vh;
    background-color: #ff9696;
    margin: 0% auto;
    display: inline-block;
    position: relative;
}

body .main .titel {
    background-color: hsl(0, 32%, 56%);
    padding: 50px 0px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    width: 100%;
    max-width: 1800px;
    position: fixed;
}

body .main .scrolShow {
    width: 100%;
    max-width: 1800px;
    height: 10px;
    background-color: rgb(172, 172, 172);
    position: fixed;
    margin-top: 160px;
}

body .main .scrolShow .contantScrolShow {
    position: absolute;
    height: 100%;
    background-color: crimson;
    width: 0%;
}

body .main .txtMain {
    padding: 20px 100px;
    margin-top: 170px;
    line-height: 40px;
}

body .main .txtMain p {
    margin-top: 20px;
}